
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

@if (((ArteDijital.Models.Entity.usertable)Session["MySessionUser"]).userauthorityID == 1)
{
    <div class="row mt-3">
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Okunmamış Footer Mesajları</span>
                            <h6 class="stats-small__value count my-3">@ViewBag.FooterOkunmamis</h6>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Okunmuş Footer Mesajları</span>
                            <h6 class="stats-small__value count my-3">@ViewBag.FooterOkunmus</h6>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Okunmamış Hizmet Mesajları</span>
                            <h6 class="stats-small__value count my-3">@ViewBag.HizmetOkunmamis</h6>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Okunmuş Hizmet Mesajları</span>
                            <h6 class="stats-small__value count my-3">@ViewBag.HizmetOkunmus</h6>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Yazılım Postları</span>
                            <h6 class="stats-small__value count my-3">@ViewBag.YazilimPost</h6>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Donanım Postları</span>
                            <h6 class="stats-small__value count my-3">@ViewBag.DonanimPost</h6>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Teknoloji Postları</span>
                            <h6 class="stats-small__value count my-3">@ViewBag.TeknolojiPost</h6>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Oyun Postları</span>
                            <h6 class="stats-small__value count my-3">@ViewBag.OyunPost</h6>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Freelancers</span>
                            <h6 class="stats-small__value count my-3">@ViewBag.Freelancer</h6>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Adminler</span>
                            <h6 class="stats-small__value count my-3">@ViewBag.Admin</h6>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Editorler</span>
                            <h6 class="stats-small__value count my-3">@ViewBag.Editor</h6>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg col-md-6 col-sm-6 mb-4">
            <div class="stats-small stats-small--1 card card-small">
                <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                        <div class="stats-small__data text-center">
                            <span class="stats-small__label text-uppercase">Kullanıcılar</span>
                            <h6 class="stats-small__value count my-3">@ViewBag.Kullanicilar</h6>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
}

@if (((ArteDijital.Models.Entity.usertable)Session["MySessionUser"]).userauthorityID == 2)
{

    <h1>Editör Ekranı Düzenleniyor...</h1>



}