<!DOCTYPE html>
<html>
<head>

    <script data-ad-client="ca-pub-2686397671999014" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2WD3DB8NH9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-2WD3DB8NH9');
    </script>
    <meta name="author" content="Efe Topcu" />
    <link rel="shortcut icon" type="image/png" href="~/images/logoico.ico" />
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">


    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="~/plugins/icofont/icofont.min.css">
    <!-- Slick Slider  CSS -->
    <link rel="stylesheet" href="~/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="~/plugins/slick-carousel/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/plugins/style.css">
</head>
<body>
    <header>
        <div class="header-top-bar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <ul class="top-bar-info list-inline-item pl-0 mb-0">

                            <li class="list-inline-item">@(Session["MySessionUser"] != null ? ((ArteDijital.Models.Entity.usertable)Session["MySessionUser"]).username : "") @(Session["MySessionUser"] != null ? ((ArteDijital.Models.Entity.usertable)Session["MySessionUser"]).usersurname : "")  </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-lg-right top-right-bar mt-2 mt-lg-0">
                            <a href="@Url.Action("Profil", "Blog")">
                                <span class="h6">@(Session["MySessionUser"] != null ? ((ArteDijital.Models.Entity.usertable)Session["MySessionUser"]).usernick : "") </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @{Html.RenderAction("menu", "Partial");}
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />



    </div>
    <div class="container-fluid">
        <footer class="footer section gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 mr-auto col-sm-6">
                        <div class="widget mb-5 mb-lg-0">
                            <div class="logo mb-4">

                            </div>
                            <p>Arte Teknoloji Bloğu</p>

                            <ul class="list-inline footer-socials mt-4">
                                <li class="list-inline-item"><a href="https://www.facebook.com/artedijitalcom"><i class="icofont-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.instagram.com/artedijitalcom/"><i class="icofont-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.linkedin.com/company/arte-dijital"><i class="icofont-linkedin"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCjYk6u2DxEek5C9DIRGgppQ"><i class="icofont-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="widget mb-5 mb-lg-0">
                            <h4 class="text-capitalize mb-3">Hızlı Linkler</h4>
                            <div class="divider mb-4"></div>

                            <ul class="list-unstyled footer-menu lh-35">
                                <li><a href="@Url.Action("Guncel", "Blog")">Güncel</a></li>
                                <li><a href="@Url.Action("Yazilim", "Blog")">Yazılım </a></li>
                                <li><a href="@Url.Action("Donanim", "Blog")">Donanım</a></li>
                                <li><a href="@Url.Action("Teknoloji", "Blog")">Teknoloji</a></li>
                                <li><a href="@Url.Action("Oyun", "Blog")">Oyun</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="widget mb-5 mb-lg-0">
                            <h4 class="text-capitalize mb-3">Destek</h4>
                            <div class="divider mb-4"></div>

                            <ul class="list-unstyled footer-menu lh-35">
                                <li><a href="@Url.Action("Kurallar", "Blog")">Blog Kuralları</a></li>
                                <li><a href="@Url.Action("Index", "Home")">Arte Dijital</a></li>
                                <li><a href="@Url.Action("EditorOl", "Blog")">Editör Ol </a></li>
                                <li><a href="@Url.Action("SSS", "Blog")">Sıkça Sorulanlar</a></li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="widget widget-contact mb-5 mb-lg-0">
                            <h4 class="text-capitalize mb-3">İletişime Geç</h4>
                            <div class="divider mb-4"></div>

                            <div class="footer-contact-block mb-4">
                                <div class="icon d-flex align-items-center">
                                    <i class="icofont-email mr-3"></i>
                                    <span class="h6 mb-0">info@artedijital.com</span>
                                </div>
                                <h4 class="mt-2"><a href="tel:+23-345-67890">destek@artedijital.com</a></h4>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="footer-btm py-4 mt-5">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6">
                            <div class="copyright">
                                &copy; Tüm Hakları Saklıdır <span class="text-color">2020</span> by <a href="https://www.artedijital.com/" target="_blank">Arte Dijital</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="subscribe-form text-lg-right mt-5 mt-lg-0">
                                @*<form action="#" class="subscribe">
                                        <input type="text" class="form-control" placeholder="Your Email address">
                                        <a href="#" class="btn btn-main-2 btn-round-full">Subscribe</a>
                                    </form>*@
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

    <script src="~/plugins/jquery/jquery.js"></script>
    @*<script src="~/plugins/bootstrap/js/popper.js"></script>*@
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    @*<script src="~/plugins/counterup/jquery.easing.js"></script>*@
    @*<script src="~/plugins/slick-carousel/slick/slick.min.js"></script>*@
    @*<script src="~/plugins/counterup/jquery.waypoints.min.js"></script>*@
    @*<script src="~/plugins/shuffle/shuffle.min.js"></script>*@
    @*<script src="~/plugins/counterup/jquery.counterup.min.js"></script>*@
    @*<script src="~/js/script.js"></script>*@
    @*<script src="~/js/contact.js"></script>*@

    <div style="display:none">
        <a href="https://www.google.com/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.ac/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.ad/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.ae/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.af/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.ag/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.ai/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.al/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.am/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.co.ao/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.ar/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.as/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.at/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.au/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.az/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.ba/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.bd/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.be/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.bf/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.bg/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.bh/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.bi/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.bj/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.bn/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.bo/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.br/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.bs/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.bt/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.co.bw/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.by/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.bz/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.ca/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.kh/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.cc/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.cd/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.cf/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.cat/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.cg/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.ch/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.ci/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.co.ck/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.cl/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.cm/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.cn/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.g.cn/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.co/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.co.cr/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.cu/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.cv/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.cy/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.cz/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.de/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.dj/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.dk/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.dm/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>
        <a href="https://www.google.com.do/url?sa=i&url=http://www.artedijital.com/">arte dijital</a>


    </div>
</body>
</html>
