
@{
    ViewBag.Title = "Yazılım Çözümleri";
    ViewBag.Description = "Yazılım, Web Yazılım, Veri Analitiği, Yapay zeka, Masaüstü Yazılım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>YAZILIM ÇÖZÜMLERİ</h2>

                    <span>
                        Yazılım, değişik ve çeşitli görevler yapma amaçlı tasarlanmış elektronik aygıtların birbirleriyle
                        haberleşebilmesini ve uyumunu sağlayarak görevlerini ya da kullanılabilirliklerini
                        geliştirmeye yarayan makine komutlarıdır.
                    </span>
                    
                </div>
            </div>
        </div>
        <div class="row bg-light mt-5">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="~/images/webcozumleri.gif" alt="web çözümleri"/>
                </figure>


            </div>

            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                <h1 class="mt-3">Web Yazılım</h1>
                <p>
                    Web yazılım, web sitelerine nitelik katmak için kullanılan yazılımlardır, bu yazılımlar sayesinde web sitesi bir kişinin düzenlenmesine ihtiyaç duymadan kendini düzenleyebilir.
                </p>
                <ul class="list-group mt-2">
                    <li>
                        <i class="fa fa-check" aria-hidden="true"> Kurumsal Web Yazılımları</i>
                    </li>
                    <li>
                        <i class="fa fa-check" aria-hidden="true"> CRM Yazılımları</i>
                    </li>
                    <li>
                        <i class="fa fa-check" aria-hidden="true"> ERP Yazılımları</i>
                    </li>

                </ul>
                <p style="color:crimson">Detaylar ve teklif almak için Detayları Gör'e tıklayınız.</p>
                <div>
                    <a href="@Url.Action("WebYazilim", "Home")" class="btn btn-info text-white pull-right">Detayları Gör</a>
                </div>
            </div>
        </div>

        <div class="row bg-light mt-5">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                <h1 class="mt-3">Mobil Yazılım</h1>
                <p>
                    Mobil uygulama, akıllı telefon, tablet bilgisayar ve akıllı saat gibi mobil cihazlarda çalışması için hazırlanmış uygulama yazılımı. Genellikle platforma özel uygulama mağazalarından indirilir. Native, web tabanlı ve hibrit uygulamalar olmak üzere kabaca üç gruba ayrılır.
                </p>
                <p style="color:crimson">Detaylar ve teklif almak için Detayları Gör'e tıklayınız.</p>

               
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="~/images/mobilyazilim.gif" alt="mobil uygulama gif"/>
                </figure>
                <div>
                    <a href="@Url.Action("MobilYazilim", "Home")" class="btn btn-info text-white pull-right mt-2">Detayları Gör</a>
                </div>

            </div>
        </div>

        <div class="row bg-light mt-5">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="~/images/masaustuyazilim.gif" />
                </figure>


            </div>

            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                <h1 class="mt-3">Masaüstü Yazılım</h1>
                <p>Masaüstü yazılım hizmetleri iş gücünüzü hafifletmek ve verilerinizi güvenle saklayabilmek için üretilmiş yazılımlardır. Masaüstü yazılımları kazancınızı arttıracak ve iş gücünüzü hafifletecektir.</p>
                <ul class="list-group mt-2">
                    <li>
                        <i class="fa fa-check" aria-hidden="true"> Restoran Otomasyonları</i>
                    </li>
                    <li>
                        <i class="fa fa-check" aria-hidden="true"> Bilgisayar Programları</i>
                    </li>
                    <li>
                        <i class="fa fa-check" aria-hidden="true"> Stok Takip Programları</i>
                    </li>

                </ul>
                <p style="color:crimson">Detaylar ve teklif almak için Detayları Gör'e tıklayınız.</p>
                <div>
                    <a href="@Url.Action("MasaustuYazilim", "Home")" class="btn btn-info text-white pull-right mt-2">Detayları Gör</a>
                </div>
            </div>
        </div>

        <div class="row bg-light mt-5">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                <h1 class="mt-3">Yapay Zeka</h1>
                <p>
                    Yapay zekâ, bir bilgisayarın veya bilgisayar kontrolündeki bir robotun çeşitli faaliyetleri zeki canlılara benzer şekilde yerine getirme kabiliyetidir.
                </p>
                <p style="color:crimson">Detaylar ve teklif almak için Detayları Gör'e tıklayınız.</p>    
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="~/images/yapayzeka.gif" alt="yapay zeka gif"/>
                </figure>

                <div>
                    <a href="@Url.Action("YapayZeka", "Home")" class="btn btn-info text-white pull-right mt-2">Detayları Gör</a>
                </div>

            </div>
        </div>

        <div class="row bg-light mt-5">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <figure>
                    <img src="~/images/verianalizi.gif" alt="veri analizi gif"/>
                </figure>


            </div>

            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

                <h1 class="mt-3">Veri Analitiği</h1>
                <p>
                    Veri analitiği,  ham verileri analiz ederek sonuç çıkartma  bilimidir. Veri analitiği tekniklerinin ve süreçlerinin çoğu, insan tüketimi için ham veriler üzerinde çalışan mekanik süreçlere ve algoritmalara otomatikleştirilmiştir.
                </p>
                <p style="color:crimson">Detaylar ve teklif almak için Detayları Gör'e tıklayınız.</p>
                <br />

                <div>
                    <a href="@Url.Action("VeriAnalitigi", "Home")" class="btn btn-info text-white pull-right mt-2">Detayları Gör</a>
                </div>
            </div>
        </div>
        
    </div>

